# Eclipse
bin/
*.launch
.settings/
.metadata/
.classpath
.project

# IntelliJ IDEA
out/
*.ipr
*.iws
*.iml
.idea/
.vscode/

# Gradle
build/
.gradle/

# OSごとの不要ファイル
.DS_Store
Thumbs.db

# ログやレポート
*.log
reports/

# 一時ファイル
*.tmp
*.swp
*.swo

# テンポラリやキャッシュ
tmp/

# ユーザー固有の設定や出力
run/
runs/
run-data/

# NeoForgeやmod開発用の生成物
moddev/

# zipや配布用アーカイブ
*.zip

# その他
repo/